In [2]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

In [3]:
np.random.seed(80)
plt.style.use("seaborn-v0_8-darkgrid")

In [12]:
from src.load_datasets import load_air_polution_data
from src.sanity import *


dataframe = (
    load_air_polution_data()
    .pipe(format_datetime, col="date")
    .pipe(set_index, col="date")
    .pipe(select_column, cols=["pollution", "temp"])
    .pipe(interpolate_column, cols="pollution")
    .pipe(resample_Data, freq="D")
)

print(f"dataframe shape {dataframe.shape}")

print(dataframe.info())

dataframe.head()

format_datetime: DF Shape (43800, 9)
set_index: DF Shape (43800, 8)
select_column: DF Shape (43800, 2)
interpolate_columns: DF Shape (43800, 2)
resample_Data: DF Shape (1825, 2)
dataframe shape (1825, 2)
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1825 entries, 2010-01-02 to 2014-12-31
Freq: D
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pollution  1825 non-null   float64
 1   temp       1825 non-null   float64
dtypes: float64(2)
memory usage: 42.8 KB
None

             pollution       temp
date
2010-01-02  145.958333  -5.125000
2010-01-03   78.833333  -8.541667
2010-01-04   31.333333 -11.500000
2010-01-05   42.458333 -14.458333
2010-01-06   56.416667 -12.541667

In [13]:
dataframe["pollution_lag_1"] = dataframe["pollution"].shift(-1)

dataframe.head()

             pollution       temp  pollution_lag_1
date
2010-01-02  145.958333  -5.125000        78.833333
2010-01-03   78.833333  -8.541667        31.333333
2010-01-04   31.333333 -11.500000        42.458333
2010-01-05   42.458333 -14.458333        56.416667
2010-01-06   56.416667 -12.541667        69.000000

In [15]:
dataframe["dataframe_window_mean_1"] = dataframe["pollution"].rolling(window=3).mean()
dataframe.head()

             pollution       temp  pollution_lag_1  dataframe_window_mean_1
date
2010-01-02  145.958333  -5.125000        78.833333                      NaN
2010-01-03   78.833333  -8.541667        31.333333                      NaN
2010-01-04   31.333333 -11.500000        42.458333                85.375000
2010-01-05   42.458333 -14.458333        56.416667                50.875000
2010-01-06   56.416667 -12.541667        69.000000                43.402778

In [25]:
from sklearn.metrics import mean_absolute_percentage_error


y_true = [[0.5, 1], [-1, 1], [7, -6]]
y_pred = [[0, 2], [-1, 2], [8, -5]]

mae = mean_absolute_error(y_true, y_pred)

mape = mean_absolute_percentage_error(y_true, y_pred)

print(mae, mape)

0.75 0.5515873015873016